.body{ 
   
    background: green; 
    font-size-adjust: auto;
    background: auto;
    color: aquamarine;
}
* header{
    margin: 0px;

}
.container{
    width: 100%;
    height: 100px;
    background: #42455a;
    }
.logo img{
    width:40px;
    margin: 5px;
    margin-right:auto;
}
.mainmenu{
    background: #258765;
    min-height: 50px;
}
.mainmenu ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.mainmenu ul li{
    float: left;
    border-left: 1px solid #34B98B;
    border-right: 1px solid #1B5D46;
    position: relative;
}
.mainmenu ul li:first-child{ 
    border-left: 0px solid;
    border-right: 0px solid;
}
.mainmenu ul li:last-child{
    border-right: 0px solid;
}
.mainmenu ul li a{
    margin: 0px;
    color: #fff;
    display: block;
    padding: 15px;}
.mainmenu ul li a:hover{
    background: #1B5D46;
}


.mainmenu ul li ul{
    position: absolute;
    left: -99999px
}
.mainmenu ul li:hover ul{left: 0px;
}

.mainmenu ul li ul{background: #fff;
}
.mainmenu ul li ul li{
    float: none; 
    width: 200px;
    border-bottom: 1px solid #37C594;
    border-right: 0px solid;
}
.mainmenu ul li ul li:last-child{
    border-bottom: 0px solid;
}

.mainmenu ul li ul li a{
    background: #2D8F77;
    color: #fff;
    padding: 5px 15px;}

.Mainmenu{
    text-align: center;
    color: gold}
.Green{
    margin:0px; 
    padding: 10px; 
    color:green;
    text-align:center;}

}
.Sheba{
   font-color: green;
   margin: 0px;
   padding: 0px;
   list-style: none;
   text-decoration: none;

}
.Information{
    margin: 4px;
    padding: 78px;
    width: 30%;
    height: auto;
    color: #ffff;
    background-color: #288235;
    margin-left: 4px;
    padding-left: 23px;
    padding-top: 33px;
}
.conteiner{
    color: antiquewhite;
    margin: 950px;
    padding: 500px;
}